@import ./mobileFirst

$primary-color: #1F3A60
$primary-color-dark: #152D50


body
  font-family: 'Lato', Calibri, Arial
.layout
  +media-min-md()
    display: flex
    flex-direction: row
  &__cursor-pointer
    cursor: pointer
  &__override
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: black
    opacity: 0.2
    &_show
      display: block
    +media-min-md()
      display: none
  &__menu
    display: none
    width: 400px
    height: 100%
    background: $primary-color
    color: #FFF
    &_show
      display: block
      position: absolute
      top: 0
      left: 0
    +media-min-md()
      display: block
      &_show
        display: none
      &-toggle
        display: none
  &__divider
    border-bottom: 2px solid $primary-color-dark
  &__menu-header
      height: 170px
      display: grid
      grid-auto-rows: 10px 1fr 10px
      padding: 20px
  &__menu-user
    display: flex
    flex-direction: row
    justify-content: space-between
    &-option
      position: relative
  &__menu-user-override
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    &_show
      display: block
  &__menu-user-list
    display: none
    position: absolute
    min-width: 250px
    background: #FFF
    border: solid 1px #DEDEDE
    border-radius: 2px
    padding: 0
    margin: 0
    list-style-type: none
    &_show
      display: block
    &-item
      text-decoration: none
      display: block
      color: $primary-color
      padding: 15px 10px
      font-weight: 500
      border-bottom: solid 0.2px #DEDEDE
  &__menu-list
    list-style-type: none
    margin: 0
    padding: 0
    &-options
      display: flex
      flex-direction: row
      justify-content: space-between
      &-label
        flex: 1
        margin-left: 10px
    &-item
      display: block
      padding: 20px
      color: #FFF
      text-decoration: none
      cursor: pointer
      &:hover
        background: $primary-color-dark
    &-item-sub
      padding-left: 50px
  &__menu-list-sub
    display: none
    &_show
      display: block
  &__logo
    justify-self: center
    align-self: center
  &__page
    display: flex
    flex-direction: column
    width: 100%
  &__header
    width: 100%
    height: 70px
    border-bottom: solid 2px $primary-color
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 10px
    color: $primary-color
  &__content
    width: 100%
